* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

header{
    background: #333;
    color: #fff;
    padding: 10px 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
}

.logo {
    float: left;
    width: 150px;
}

nav {
    float: right;
    margin-top: 10px;
}

nav ul {
    list-style: none;
}

nav ul li{
    display: inline;
    margin-left: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
}

nav ul li a:hover {
    background: #575757;
    border-radius: 5px;
}

.hero{
    background: url('../images/hero.jpg') no-repeat center center/cover;
    color: #fff;
    text-align: center;
    padding: 100px 0;
}
.hero-content {
    max-width: 600px;
    margin: 0 auto;
}
.cta-button {
    display: inline-block;
    background: #007bff;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}
.cta-button:hover{
    background: #0056b3;

}

.features{
    padding: 20px 0;
}
.feature {
     background: #ffffff;
     border-radius: 50px;
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
     text-align: center;
     padding: 15px;
     margin-bottom: 30px;
}
.feature img{
    max-width: 100%;
    height: auto;
    border-radius: 50px;
}
footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10 px 0;
}